name: Build & Deploy Flutter Web

on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build web
        run: flutter build web

      - name: Deploy to GitHub Pages repo
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN_DEPLOY }}
        run: |

          cd build/web
          git init
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git add .
          
          git diff-index --quiet HEAD || git commit -m "Deploy Flutter web"

          git remote add origin https://x-access-token:${GH_TOKEN}@github.com/PatrykZ1/PatrykZ1.github.io.git

          git push --force origin master

        
